# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
- Jupyter Lab
- Python
- Rstudio

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integersm

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
print(200/60, 'hours')

3.3333333333333335 hours

## Author
Yuanzhi Weng